(
    selection_bg: Some("#50fa7b"),
    selection_fg: Some("#000000"),
    cmdbar_bg: Some("#50fa7b"),
    cmdbar_fg: Some("#000000"),
    cmdbar_extra_lines_bg: Some("#50fa7b"),
    command_fg: Some("#000000"),
    push_gauge_bg: Some("#50fa7b"),
    push_gauge_fg: Some("#000000"),
    disabled_fg: Some("#6272a4"),
    diff_line_add: Some("#50fa7b"),
    diff_line_delete: Some("#ff5555"),
    diff_file_added: Some("#50fa7b"),
    diff_file_removed: Some("#ff5555"),
    diff_file_moved: Some("#ffb86c"),
    diff_file_modified: Some("#8be9fd"),
    commit_hash: Some("#bd93f9"),
    commit_time: Some("#6272a4"),
    commit_author: Some("#f1fa8c"),
    danger_fg: Some("#ff5555"),
    tab_selected: Some("#50fa7b"),
    tab_selected_fg: Some("#000000"),
)
