[user]
	name = Ray Chen
	email = ray@raychen.io
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	ignorecase = false
	hooksPath = /Users/rc/.config/git/hooks
[credential]
	helper = store
[init]
	defaultBranch = main
